/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--page-background-color, #000331);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  height: 100dvh;
  min-height: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--border-color, #ff0070);
  border-right: 1px solid var(--border-color, #ff0070);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--border-color, #ff0070);
  border-bottom: 1px solid var(--border-color, #ff0070);
}

.header__lamp-sign {
  position: absolute;
  top: 10px;
  right: 19px;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  color: var(--accent-color, #ff0070);
}

.header__lamp-sign::after {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu-button {
  border: 1px solid transparent;
  min-width: 70px;
  min-height: 26px;
  background: none;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--button-color, #ff0070);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-hover, #ff007066);
}

.header__theme-menu {
  margin-top: 75px;
  margin-right: 10px;
  align-self: start;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button_active {
  border-color: var(--border-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-color, #ff0070);
}

.header__title {
  justify-self: start;
  align-self: center;
  width: 355px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  line-height: 83%;
  color: var(--header-title-color, #db00ff);
}

.header__text {
  align-self: end;
  justify-self: center;
  margin-bottom: 66px;
  font-size: 18px;
  width: 355px;
}

.title-decor {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color, #ff0070);
  color: var(--text-color, #000028);
}

.content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 10px;
}

.content__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0;
  isolation: isolate;
}

.content__title {
  white-space: normal;
  overflow-wrap: break-word;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-color, #ff0070);
}

.content__title-secondary {
  align-self: start;
  width: 100%;
}

.content__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-decor_weight_regular {
  font-weight: 400;
}

.content__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--content-text-color, #f1b2ce);
}

.content__advice-title {
  font-weight: 400;
  font-family: var(--font-family);
  align-self: start;
  width: 100%;
  font-size: 18px;
  color: var(--text-color, #000028);
  background-color: var(--bg-color, #ff0070);
}

.content__link {
  text-decoration: none;
  color: var(--link-color, #f1b2ce);
  font-weight: 400;
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.content__link:hover {
  border-bottom: 1px solid var(--border-color, #ff0070);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  border: 1px solid var(--border-color, #ff0070);
  outline: none;
}

.content__pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}

.content__pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  padding: 0 10px;
  margin-top: 40px;
  position: relative;
  height: 100dvh;
  min-height: 668px;
  display: grid;
  place-items: center;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  line-height: 83%;
  color: var(--header-title-color, #db00ff);
}

@media (width >= 768px) {
  .content {
    gap: 80px;
    margin-top: 60px;
  }

  .header__text {
    align-self: start;
    justify-self: end;
    margin-right: 20px;
    margin-top: 40px;
  }

  .header__title {
    width: 577px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__lamp-sign {
    top: 20px;
    right: 29px;
  }

  .header__theme-menu {
    margin-bottom: 53px;
    margin-right: 20px;
    justify-self: end;
    align-self: end;
  }

  .content__section {
    margin: 0 10px;
  }

  .content__section_sidebar {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    align-items: start;
  }

  .content__title {
    width: 236px;
  }

  .content__section_sidebar > .content__title {
    grid-column: 1;
  }

  .content__section_sidebar > .content__card,
  .content__section_sidebar > .content__title-secondary {
    grid-column: 2;
  }

  .content__section-advice > .content__title {
    grid-row: 1 / span 6;
  }

  .content__section-concentration .content__title {
    min-width: 236px;
    min-height: 70px;
  }

  .content__section-concentration {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    align-items: start;
  }

  .content__section-concentration > .content__title {
    grid-column: 1;
    min-height: 70px;
  }

  .content__section-concentration .content__card {
    grid-column: 2;
  }

  .content__pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .content__pictures img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .content__pictures img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .content__pictures img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .content__pictures img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .content__pictures img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    padding: 0 10px;
    margin-top: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  @media (width >= 1024px) {
    .header__title {
      width: 759px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__text {
      width: 491px;
      margin-top: 51px;
    }

    .header__theme-menu {
      margin: 0;
      align-self: start;
      justify-self: center;
      margin-top: 20px;
    }

    .header__theme-menu-list {
      flex-direction: row;
    }
    .content__section_sidebar {
      grid-template-columns: 315px 1fr;
    }

    .content__title {
      width: 315px;
    }

    .content__section {
      margin: 0 10px;
    }

    .content__section-concentration {
      grid-template-columns: repeat(3, 1fr);
    }

    .content__section-concentration > .content__title {
      grid-column: 1 / -1;
      min-height: 47px;
    }

    .content__section-concentration > .content__card {
      grid-column: auto;
    }
  }
}
